@model IEnumerable<Notesapp.Note>

@{
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

    ViewBag.Title = "Index";


}

<h2>Welcome</h2>
@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{<div class="d-flex flex-grow-1">
        <form class="form-inline w-100">
            <div class="input-group w-100">
                <input class="form-control"
                       type="search"
                       name="searchString"
                       placeholder="Search for notes?"
                       aria-label="Search" />
                <button class="btn btn-outline-success search-btn" type="submit">
                    🔍
                </button>
            </div>
        </form>
    </div>}


<p>
    @Html.ActionLink("Create New Note", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.NoteId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })
            </td>
        </tr>
    }

</table>
